/* VARIABLES */

:root {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    font-size: large;

    --col_bg: white;
    --col_fg: black;
    --col_fg_focus: green;
    --col_fg_placeholder: grey;
    --margin: 10px;
    --border: 1.5rem;
}


/* GENERAL */

* {
    box-sizing: border-box;
}

h1 {
    font-weight: 500;
    font-size: x-large;
}


/* LAYOUT */

body {
    background: black;
    margin: 0;
}

.flex_stack {
    display: flex;
    flex-direction: column;
    gap: var(--margin);
}

.flex_row {
    display: flex;
    flex-direction: row;
    gap: var(--margin);
}

.stretch_item {
    flex: 1;
    min-width: 0;
}

.window {
    padding: var(--border);
    background: var(--col_bg);
    border-radius: var(--border);
}

.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#inner_body {
    height: calc(100vh - var(--border));
    width: min(calc(100vw - var(--border)), 70vh);
    gap: var(--border); /* gap between the contained windows */
}


/* ITEMS */
/* TODO: make select pretty */

input, button, select {
    border: none;
    outline: none;
    background: none;
}

input:focus, button:focus, select:focus {
    outline: none;
}

.item {
    width: 100%;
    height: calc(var(--border) * 2);
    display: block;
    background: white;
    padding: 0 1em;
    border-radius: var(--border);
    border: var(--col_fg) 1px solid;
}

.item.focused {
    border: var(--col_fg_focus) 1px solid;
}

.multi_item {
    display: flex;
    flex-direction: row;
}

select[value="placeholder"], ::placeholder {
    color: var(--col_fg_placeholder);
}


/* POPUP */

.popup {
    display: none;
    z-index: 2;
}

.popup_background {
    width: 100vw;
    height: 100vh;
    background: var(--col_fg);
    opacity: 30%;
    z-index: 1;
}
