/*
TODO: find better color scheme
TODO: resize fontawesome buttons
TODO: make select pretty
TODO: equal window/window window/body gap
TODO: custom map markers
TODO: make Mitarbeiter page scrollable
 */

/* VARIABLES */

:root {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    font-size: large;

    --col_bg: white;
    --col_fg: black;
    --col_fg_focus: green;
    --col_fg_placeholder: grey;
    --margin: 10px;
    --border: 1.5rem;
}


/* GENERAL */

* {
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    font-size: large;
}

h1 {
    font-weight: 500;
    font-size: x-large;
}


/* LAYOUT */

body {
    background: black;
    margin: 0;
}

.flex_stack {
    display: flex;
    flex-direction: column;
    gap: var(--margin);
}

.flex_row {
    display: flex;
    flex-direction: row;
    gap: var(--margin);
}

.stretch {
    flex: 1;
    min-width: 0;
}

.window {
    padding: var(--border);
    background: var(--col_bg);
    border-radius: var(--border);
}

.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#inner_body {
    height: calc(100vh - var(--border));
    width: min(calc(100vw - var(--border)), 70vh);
    gap: var(--border); /* gap between the contained windows */
}


/* ITEMS */

input, button, select {
    border: none;
    outline: none;
    background: none;
}

input:focus, button:focus, select:focus {
    outline: none;
}

.item {
    width: 100%;
    height: calc(var(--border) * 2);
    background: white;
    padding: 0 1em;
    border-radius: var(--border);
    border: var(--col_fg) 1px solid;

    /* in case the item contains multiple elements */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item.focused {
    border: var(--col_fg_focus) 1px solid;
}

select[value="placeholder"], ::placeholder {
    color: var(--col_fg_placeholder);
}


/* BUTTONS */

button.good_step {
    background-color: lawngreen;
}

button.bad_step {
    background-color: red;
}

button:disabled {
    background-color: gray;
}


/* POPUP */

.popup {
    display: none;
    z-index: 2;
}

.popup_background {
    width: 100vw;
    height: 100vh;
    background: var(--col_fg);
    opacity: 30%;
    z-index: 1;
}


/* FLASH */

.flash, .flash * {
    color: white;
}

.error {
    background-color: red;
}

.message {
    background-color: lawngreen;
}

/* MAP */

.battery {
    border: 2px solid white;
    border-radius: 2px;
    width: 10px;
    height: 40px;
}

.battery::after {
    width: 50%;
    height: 10%;
    position: relative;
    bottom: 100%;
    border-radius: 2px;
    background-color: white;
}

#map_container {
    width: 100%;
    border-radius: var(--border);
    display: flex;
    flex-direction: column;
}

#map {
}