/* VARIABLES */

:root {
    --col_bg: white;
    --col_fg: black;
    --col_fg_focus: green;
    --col_fg_placeholder: grey;
}


/* LAYOUT */

body {
  background: black;
  margin: 0;
}

.inner_body {
  margin: auto;
  height: 100vh;
  max-width: 80vh;
  display: flex;
  flex-direction: column;
}

.inner_body > div {
  margin: 10px;
  background: var(--col_bg);
}

.inner_body > .main {
  height: 100%;
  overflow-y: auto;
}


/* COSMETICS */

* {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    font-size: 14px;
}

h1 {
    font-weight: 500;
    font-size: 16px;
}

input, select, button {
    background-color: white;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
    padding: 3px;
    border-radius: 3px;
}

input:focus, select:focus, button:focus {
    outline: var(--col_fg_focus) 1px solid;
}


/* POPUP */

.popup {
    visibility: hidden;
    background-color: var(--col_bg);
    outline: var(--col_fg_focus) 1px solid;
}

.popup_background {
    width: 100%;
    height: 100%;
    background: var(--col_bg);
    opacity: 30%;
}
