{% extends "_layout.html" %}
{% block main %}
    <div class="stretch flex_stack window">
        <h1 class="stretch">
            Hallo, {{ username }}
            <button onclick="show_popup('edit')"><i class="fas fa-pen-alt"></i></button>
            <button onclick="show_popup('delete')"><i class="fas fa-trash-alt"></i></button>
        </h1>
        <button onclick="window.location.href={{ url_for('auth.logout') }}">Abmelden</button>
    </div>
{% endblock %}

{% block popup %}
    <div class="popup centered window" id="edit">
        <form method="post" action="{{ url_for('users.edit') }}">
            <input class="item" type="text" name="name" value="{{ username }}"/>
            <button class="item" type="submit">OK</button>
        </form>
        <button class="item" onclick="hide_popup('sign_in_key_info')">Abbrechen</button>
    </div>

    <div class="popup centered window" id="delete">
        <p>Account wirklich löschen?</p>
        <form method="post" action="{{ url_for('users.delete') }}">
            <div class="flex_row">
                <button class="item" type="reset" onclick="hide_popup('delete')">Nein, abbrechen</button>
                <button class="item" type="submit">Ja, löschen</button>
            </div>
        </form>
    </div>
{% endblock %}