{% extends "_layout.html" %}
{% block main %}
    <div class="stretch_item window">
        <h1>Kurier</h1>
        <div class="flex_stack">
            {% for member in staff %}
                <div class="item multi_item">
                    <p class="stretch_item">{{ member.name }}</p>
                    <i class="fas fa-pen-alt" onclick="show_popup('{{ member.name }}_edit')"></i>
                    <i class="fas fa-trash-alt" onclick="show_popup('{{ member.name }}_delete')"></i>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% for member in staff %}
    {% block popup %}
        <div class="popup centered window" id="{{ member.name }}_edit">
            <h2>{{ member.name }}</h2>
            <form method="post" action="{{ url_for('website.change_user', user_id=member.id) }}">
                <input type="text" name="name" value="{{ member.name }}">
                <div class="item multi_item">
                    <input class="item" type="checkbox" name="can_control_drone">
                    <label for="can_manage_users">Darf Drohne kontrollieren</label>
                </div>
                <div class="item multi_item">
                    <input class="item" type="checkbox" name="can_manage_users">
                    <label for="can_manage_users">Darf Nutzer verwalten</label>
                </div>
                <div class="flex_row">
                    <button class="item" type="reset" onclick="hide_popup('{{ member.name }}_edit')">Abbrechen</button>
                    <button class="item" type="submit">OK</button>
                </div>
            </form>
        </div>

        <div class="popup centered window" id="{{ member.name }}_delete">
            <p>Account von {{ member.name }} wirklich löschen?</p>
            <form method="post" action="{{ url_for('website.delete_user', user_id=member.id) }}">
                <div class="flex_row">
                    <button class="item" type="reset" onclick="hide_popup('{{ member.name }}_edit')">Nein, abbrechen</button>
                    <button class="item" type="submit">Ja, löschen</button>
                </div>
            </form>
        </div>
    {% endblock %}
{% endfor %}