{% extends "_layout.html" %}
{% block main %}
    <div class="top">
        <h1>Neuer Nutzer</h1>
    </div>

    <form class="bottom" method="post">
        <input class="item" required name="name" type="text" placeholder="Name"/>
        <select class="item" required name="facility">
            <option value="" disabled selected hidden>Betrieb</option>
            {% for facility in facilities %}
                <option name="{{ facility.id }}">{{ facility.name }}</option>
            {% endfor %}
        </select>
        <div class="item multi_item">
            <input required name="key" pattern="([A-Z]|[0-9]){6}" type="text" placeholder="Registrierungs-Code"/>
            <button onclick="show_popup('sign_in_key_info')"><i class="fas fa-info-circle"></i></button>
        </div>
        <button class="item" type="submit">Registrieren</button>
    </form>

    <div class="popup" id="sign_in_key_info">
        <p>Der Code muss von einem angemeldeten Mitarbeiter auf der <i class="fas fa-list"></i>-Seite generiert werden.
        Du benötigst den Code nur, um dich als Nutzer zu registrieren.
        Danach kannst du dich ohne den Code anmelden.</p>
        <button onclick="hide_popup('sign_in_key_info')">Okay</button>
    </div>
{% endblock %}