{% extends "_layout.html" %}
{% block main %}
    <div class="stretch flex_stack window">
        <h1 class="stretch">Anmelden</h1>
        <div class="flex_stack">
            <button class="item" onclick="window.location.href={{ url_for('auth.login', oauth_server='google') }}"><i class="fab fa-google"></i></button>
            <button class="item" onclick="window.location.href={{ url_for('auth.login', oauth_server='apple') }}"><i class="fab fa-apple"></i></button>
        </div>
    </div>
{% endblock %}