{% extends "_layout.html" %}
{% block main %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://unpkg.com/socket.io-client@4.3.2/dist/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='drone.js') }}"></script>
    <div class="stretch flex_stack window">
        <h1>Kurier</h1>
        <div id="map_container" class="stretch">
            <div id="map" class="stretch"></div>
            <div id="state_container">
                <div id="state_display"></div>
                <div id="battery_display"><div></div></div>
            </div>
        </div>
        <div id="drone_buttons" class="flex_stack"></div>
    </div>
    <script>
        {% for fac_id, fac in facilities.items() %}
		facilities['{{ fac_id }}'] = {
			id: '{{ fac_id }}',
			name: '{{ fac.name }}',
			pos: [{{ fac.pos|join(', ') }}],
			waypoints: [{{ fac.waypoints|join(', ') }}]
		}
        {% endfor %}
        ownFacility = facilities['{{ own.id_str }}'];
        homeFacility = facilities['{{ home.id_str }}'];
        droneRequested = {{ own.drone_requested|lower }};
        canControl = {{ can_control|lower }};
        accessToken = '{{ mapbox_token }}';

        window.onload = init;
    </script>
{% endblock %}

{% block popup %}
    <div class="popup centered window" id="emergency_return">
        <form class="flex_stack" method="post" action="{{ url_for('drone_control.control', command='emergency_return') }}">
            <h2>Wirklich umkehren?</h2>
            <p>Der Kurier wird zum letzten Startpunkt zurückkehren und landen.
                Sollte die Akkuladung nicht ausreichen, wird sofort eine Notlandung durchgeführt.</p>
            <div class="flex_row">
                <button class="item" type="reset" onclick="hidePopup()">Nein, abbrechen</button>
                <button class="item bad_step" type="submit">Ja, umkehren</button>
            </div>
        </form>
    </div>

    <div class="popup centered window" id="emergency_land">
        <form class="flex_stack" method="post" action="{{ url_for('drone_control.control', command='emergency_land') }}">
            <h2>Wirklich notlanden?</h2>
            <p>Der Kurier wird unkontrolliert auf der Stelle landen.</p>
            <div class="flex_row">
                <button class="item" type="reset" onclick="hidePopup()">Nein, abbrechen</button>
                <button class="item bad_step" type="submit">Ja, landen</button>
            </div>
        </form>
    </div>
{% endblock %}