{% extends "_layout.html" %}
{% block main %}
    <div class="stretch flex_stack window">
        <h1 class="stretch">Neuer Nutzer</h1>
        <form method="post" action="{{ url_for('users.new') }}" class="flex_stack">
            <input class="item" name="name" type="text" placeholder="Name" required/>
            <select class="item" name="facility_id" required>
                <option value="placeholder" disabled selected hidden>Betrieb</option>
                {% for facility in facilities %}
                    <option value="{{ '%s'|format(facility['_id']) }}">{{ facility['name'] }}</option>
                {% endfor %}
            </select>
            <div class="item">
                <input id="new_user_key" class="stretch" name="key" maxlength="{{ config['NEW_USER_KEY_LENGTH'] }}" pattern="([A-Z]|[0-9]){8}" type="text" placeholder="Registrierungs-Code" required/>
                <button onclick="show_popup('sign_in_key_info')"><i class="fas fa-info-circle"></i></button>
            </div>
            <button class="item" type="submit">Registrieren</button>
        </form>
    </div>
{% endblock %}
{% block popup %}
    <div class="popup centered window" id="sign_in_key_info">
        <p>Der Code muss von einem angemeldeten Mitarbeiter auf der <i class="fas fa-list"></i> - Seite generiert werden.
        Du benötigst den Code nur einmalig, um dich als Nutzer zu registrieren.</p>
        <div class="flex_row">
            <button class="item stretch" onclick="hide_popup('sign_in_key_info')">Okay</button>
        </div>
    </div>
{% endblock %}