<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<script>
		function init() {
			const socket = io('/frontend');
			socket.on('facility_state', onFacilityState);
			socket.on('drone_state', onDroneState);
			socket.on('heartbeat', onHeartbeat);
			socket.on('drone_requested', onDroneRequested);
		}

		function onFacilityState(args) {
			console.log('onFacilityState', args);
		}

		function onHeartbeat(args) {
			console.log('onHeartbeat', args);
		}

		function onDroneState(args) {
			console.log('onDroneState', args);
		}

		function onDroneRequested(args) {
			console.log('onDroneRequested', args);
		}
	</script>
</body>
</html>