{% extends "_layout.html" %}
{% block main %}
    <div class="stretch window flex_stack">
        <h1>Mitarbeiter bei {{ facility_name }}</h1>
        <div class="flex_stack stretch">
            <div class="item">
                <p class="stretch">{{ me['name'] }}</p>
            </div>
            {% for member in members %}
                <div class="item">
                    <p class="stretch">{{ member['name'] }}</p>
                    {% if me['can_manage_users'] %}
                        <button onclick="showPopup('{{ member['_id'] }}_edit')"><i class="fas fa-pen-alt"></i></button>
                        <button onclick="showPopup('{{ member['_id'] }}_delete')"><i class="fas fa-trash-alt"></i></button>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="item">
            <p class="stretch">Neuer Mitarbeiter</p>
            <button onclick="showPopup('new')"><i class="fas fa-user-plus"></i></button>
        </div>
    </div>.
{% endblock %}

{% block popup %}
    <div class="popup centered window" id="new">
            <h2>Neuer Mitarbeiter</h2>
            <form class="flex_stack" method="post" action="{{ url_for('users.new_key') }}">
                <div class="item">
                    <label class="stretch" for="can_control_drone">Darf Drohne kontrollieren</label>
                    <input type="checkbox" name="can_control_drone">
                </div>
                <div class="item">
                    <label class="stretch" for="can_manage_users">Darf Nutzer verwalten</label>
                    <input type="checkbox" name="can_manage_users">
                </div>
                <div class="flex_row">
                    <button class="item" type="reset" onclick="hidePopup(this)">Abbrechen</button>
                    <button class="item" type="submit">OK</button>
                </div>
            </form>
        </div>

    {% for member in members %}
        <div class="popup centered window" id="{{ member['_id'] }}_edit">
            <h2>{{ member['name'] }}</h2>
            <form class="flex_stack" method="post" action="{{ url_for('users.edit', user_id_str=member['_id']) }}">
                <div class="item">
                    <label class="stretch" for="can_control_drone">Darf Drohne kontrollieren</label>
					<input type='hidden' name='can_control_drone' value='False'> <!--https://stackoverflow.com/questions/1809494/post-unchecked-html-checkboxes-->
                    <input type="checkbox" name="can_control_drone" value="True" {% if member['can_control_drone'] %}checked{% endif %}>
                </div>
                <div class="item">
                    <label class="stretch" for="can_manage_users">Darf Nutzer verwalten</label>
					<input type='hidden' name='can_manage_users' value='False'>
                    <input type="checkbox" name="can_manage_users" value="True" {% if member['can_manage_users'] %}checked{% endif %}>
                </div>
                <div class="flex_row">
                    <button class="item" type="reset" onclick="hidePopup(this)">Abbrechen</button>
                    <button class="item" type="submit">OK</button>
                </div>
            </form>
        </div>

        <div class="popup centered window" id="{{ member['_id'] }}_delete">
            <p>Account von {{ member['name'] }} wirklich löschen?</p>
            <form method="post" action="{{ url_for('users.delete', user_id_str=member['_id']) }}">
                <div class="flex_row">
                    <button class="item" type="button" onclick="hidePopup(this)">Nein, abbrechen</button>
                    <button class="item" type="submit">Ja, löschen</button>
                </div>
            </form>
        </div>
    {% endfor %}
{% endblock %}